.vs/
ipch/
Debug*/
Release*/
obj/
output/
x64/Debug/
x64/Release/
x86/Debug/
x86/Release/
*.suo
*.user
*.userosscache
*.vcxproj.user
*.vc.db
*.VC.db
*.sdf
*.opensdf
*.cachefile
*.lastbuildstate
*.tlog/
*.ipch
*.exe
*.dll
*.lib
*.pdb
*.ipdb
*.iobj
*.idb
*.log
*.recipe
*.tlh
*.tli
External/**/bin/
External/**/lib/
logs/