.vs/
[Bb]inary/
ipch/
Debug*/
Release*/
obj/
output/
x64/
x86/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.vc.db
*.sdf
*.opensdf
*.cachefile
*.lastbuildstate
*.tlog/
*.ipch
*.exe
*.dll
*.lib
*.pdb
*.ipdb
*.iobj
*.idb
*.log
*.recipe
*.tlh
*.tli
*.vcxproj.filters
External/**/bin/
External/**/lib/
